.main {
    margin-left: 250px;
    transition: .3s;
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: 30% auto;
    // border: 1px solid red;
    @import "main_left";
    @import "main_right";
}

.main.active {
    margin-left: 0;
}