.main {
    margin-left: 250px;
    transition: .3s;
    padding: 10px 30px;
    width: 100%;
    max-width: 2000px;

    .items-box {
        .item-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            align-items: center;
            font-weight: 500;

            .item-header_title_box {
                display: flex;
                align-items: center;
                .item-header_title {
                    color: rgba(0,0,0,1);
                    font-size: 1.53rem;  
                }
                @import "box-input";

                .box-input {
                    margin-left: 30px;
                }
                .box-input .search {
                    width: 20rem;
                }
            }

            .item-header_more {
                user-select: none;
                cursor: pointer;
                background-color: rgb(62, 168, 255);
                color: #fff;
                padding: 5px 20px;
                border-radius: 3px;
                transition: .1s;
                box-shadow: 0px 0px 14px 0px rgba(62, 168, 255,0.25);
            }

            .item-header_more:hover {
                box-shadow: 0px 0px 14px 0px rgba(62, 168, 255,0.5);
            }

        }
        .item-main {
            
            .types-box {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-left: 25px;

                .type-box {
                    background-color: white;
                    border-radius: 3px;
                    padding: 5px 10px;
                    border: 1px solid rgba(0,0,0,.4);
                    color: rgba(0,0,0,.6);
                    margin-right: 15px;
                    cursor: pointer;
                }
                .type-box.active {
                    color: #18B877;
                    border: 1px solid #18B877;
                }
            }

            .forum-pages {
                margin-top: 20px;
                // flex-wrap: wrap;
                .forum-page {
                    margin-top: 15px;
                    // border: 1px solid blue;
                    background-color: white;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    color: rgba(0,0,0,.7);
                    padding: 15px;
                    box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
                    cursor: pointer;
                    transition: .1s;

                    .left-box {
                        display: flex;
                        .avatar {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                        }
    
                        .description-box {
                            // border: 1px solid blue;
                            display: flex;
                            flex-direction: column;
                            padding: 3px 15px;
                            .title {
                                // border: 1px solid orange;
                                font-size: 16;
                                font-weight: 500;
                                color: rgba(0,0,0,.9);
                            }
    
                            .bottom-title {
                                justify-content: center;
                                // border: 1px solid red;
                                display: flex;
                                height: 100%;
                                align-items: flex-end;

                                .vote-box {
                                    display: flex;
                                    align-items: flex-end;

                                    .votes {
                                        font-weight: 500;
                                        padding-right: 3px;
                                    }

                                    .icons {
                                        display: flex;
                                        padding-right: 10px;

                                        .icon {
                                            width: 22px;
                                            height: 22px;
                                        }

                                        .icon:nth-child(2) {
                                            margin-left: -5px;
                                        }
                                    }
                                }
                                .time {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: rgba(0,0,0,.7);
                                }
                            }
                        }
                    }

                    .comment-box {
                        display: flex;
                        align-self: flex-end;

                        font-weight: 500;

                        .icon {
                            width: 22px;
                            height: 22px;
                            margin-right: 5px;
                        }
                        // border: 1px solid red;
                    }
                }

                .forum-page:hover {
                    box-shadow: 0 0 14px 0 rgba(0,0,0,.2);
                }
            }
        }
    }
}

.main.active {
    margin-left: 0;
}