.main {
    margin-left: 250px;
    transition: .3s;
    padding: 10px 30px;
    width: 100%;
    max-width: 2000px;

    .items-box {
        // border: 1px solid green;
        padding-bottom: 40px;
        .item-header {
            // border: 1px solid green;
            display: flex;
            justify-content: space-between;
            padding: 20px 15px;
            align-items: center;
            font-weight: 500;

            .left {
                display: flex;
                align-items: center;

                .title {
                    font-size: 25px;
                    font-weight: 500;
                }
                .title_icon_box {
                    display: flex;
                    margin-left: 30px;
                    align-items: center;
                    color: rgba(0,0,0,.7);
                    cursor: pointer;

                    .title_icon {
                        font-size: 22px;
                        font-weight: 400;
                    }
                    .icon {
                        margin-left: 7px;

                    }
                }
            }

        }

        .item-body {
            // border: 1px solid red;

            .item-body-top {
                display: flex;
                justify-content: space-between;

                .item-body-top-left {
                    border-radius: 3px;
                    border: 1px solid #D6D6D6;
                    width: 420px;
                    background-color: white;

                    .item-top {
                        display: flex;
                        padding: 15px;
                        border-bottom: 1px solid #D6D6D6;
                        // border: 1px solid red;

                        .avatar {
                            background: url('/avatar_100.png') no-repeat 0 0;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }

                        .about-box {
                            // border: 1px solid red;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: 70%;
                            padding: 10px;
                            margin-left: 10px;
                            .title-box {
                                display: flex;
                                align-items: center;
                                font-size: 20px;

                                .name {
                                    color: #000000;
                                    
                                    font-weight: 500;
                                }

                                .right-box {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 10px;
                                    .age {
                                        font-weight: 400;
                                        color: rgba(0,0,0,.7);
                                    }
        
                                    .active {
                                        margin-left: 8px;
                                        width: 8px;
                                        height: 8px;
                                        background-color: #5CC3B0;
                                        border-radius: 50%;
                                        box-shadow: 0px 0px 9px 0px rgba(92,195,176,0.60);
                                    }
                                }
                            }

                            .buttons-box {
                                display: flex;
                                align-content: center;
                                color: #777777;
                                font-size: 14px;
                                margin-top: 1rem;
                                font-weight: 500;

                                .button-box {
                                    border: 1px solid rgba(119, 119, 119,.7);
                                    border-radius: 3px;
                                    padding: 5px;
                                }

                                .button-box.blue {
                                    border: none;
                                    background-color: #85AEE7;
                                    color: white;
                                    padding: 5px 30px;
                                }

                                .button-box:nth-child(2) {
                                    margin-left: 10px;
                                }
                            }
                        }

                    }

                    .item-bottom {
                        padding: 20px 15px;
                        color: rgba(0,0,0,.7);
                        font-weight: 300;

                        .title {
                            font-size: 1.3rem;
                        }

                        .description {
                            margin-top: 12px;
                            font-size: 1rem;
                            color: rgba(0,0,0,1);
                        }

                        .icon-box {
                            margin-top: 12px;
                            display: flex;
                            align-items: center;

                            .title_icon {
                                color: rgba(0,0,0,1);
                                margin-left: 8px;
                            }
                        }
                    }
                }

                .item-body-top-right {
                    // border: 1px solid orange;
                    width: 445px;
                    margin-left: 5%;

                    .top {
                        background-color: white;
                        padding: 0.9rem;
                        border-radius: 3px;
                        border: 1px solid #D6D6D6;
                        
                        .title {
                            color: rgba(0,0,0,.7);
                            font-size: 20px;
                            font-weight: 600;
                        }

                        @import "level.scss";

                        .msg-box-account {
                            border: none;
                            padding: 0;
                            margin-top: 7px;
                        }
                    }

                    .bottom {
                        background-color: white;
                        padding: 0.9rem;
                        border-radius: 3px;
                        border: 1px solid #D6D6D6;
                        margin-top: 10px;

                        .title {
                            color: rgba(0,0,0,.7);
                            font-size: 20px;
                            font-weight: 600;
                        }

                        .time-box {
                            margin-top: 20px;
                            .time {
                                text-align: center;
                            }

                            .progress {
                                margin-top: 5px;
                                width: 70%;
                            }
                        }
                    }
                }
            }

            .item-body-bottom {
                border-radius: 3px;
                border: 1px solid #D6D6D6;
                width: 100%;
                margin-top: 10px;
                background-color: white;
                padding: 15px 0;

                .title-box {
                    display: flex;
                    align-items: center;
                    color: rgba(0,0,0,.7);
                    margin-left: 25px;
                    
                    .title {
                        font-weight: 300;
                        font-size: 20px;

                    }

                    .icon-box {
                        display: flex;
                        align-items: center;
                        margin-left: 20px;
                        cursor: pointer;

                        .icon {
                            margin-left: 3px;
                        }
                    }
                }

                .types-box {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-left: 25px;
    
                    .type-box {
                        background-color: white;
                        border-radius: 3px;
                        padding: 5px 10px;
                        border: 1px solid rgba(0,0,0,.4);
                        color: rgba(0,0,0,.6);
                        margin-right: 15px;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    .type-box.active {
                        color: #18B877;
                        border: 1px solid #18B877;
                    }
                }
            }
        }
    }

    .items-courses {
        .item-header {
            .item-header_title {
                color: rgba(0,0,0,1);
                font-size: 1.53rem;
                font-weight: 500;
            }
        }
        .courses-box {
            display: grid;
            grid-gap: 2em;
            justify-content: space-between;
            padding-top: 30px;
            grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    
            @import "course_box";
        }
    }
}

.main.active {
    margin-left: 0;
}